img{max-width:100%;}
*{word-wrap:break-word;}
.text_abstract{overflow:hidden;width:130px;height:20px;word-wrap:break-word;text-size-adjust:100%;white-space:nowrap;text-overflow:ellipsis;}
header:not(.pre-header){display: inline-block;width: 100%;height: 222px;}
header .container{margin-top: 66px;position:relative;padding-left:100px;}
header .container nav{border-radius: 15px;}
#logo-principal{position: absolute;left:0px;top: -50px;z-index: 10;}
#logo-principal img{width: 160px;}
#menu-1 > ul > li{height: 66px;display: flex;flex-direction: column;justify-content: space-around;align-items: flex-start;font-weight: 700;}
#menu-1 > ul:first-child > li:first-child{background-color: #DA291C;padding-left: 50px;border-right: 1px solid #000000;}
#menu-1 > ul:first-child > li:nth-child(2){border-left: 1px solid #5C5C5C;}
#menu-1 > ul:first-child > li > a{position:relative;padding: 0 .9rem;}
#menu-1 > ul:first-child > li > a::after{content: '';border-right: 1px solid #5C5C5C;position: absolute;right: 0px;width: 1px;height: 16px;top: 0px;}
#menu-1 > ul:first-child > li > a::before{content: '';border-right: 1px solid #000000;position: absolute;right: 1px;width: 1px;height: 16px;top: 0px;}
#menu-1 > ul:first-child > li:last-child > a::before,
#menu-1 > ul:first-child > li:last-child > a::after,
#menu-1 > ul:first-child > li:first-child > a::before,
#menu-1 > ul:first-child > li:first-child > a::after{display:none;}
.navbar-dark .navbar-nav .nav-link{color:rgba(255, 255, 255, 1);}
#menu-1 i{font-size: 20px;}
#menu-1 i.fa-spotify{color:#1DB954;position:absolute;top:5px;right:-20px;}
#menu-1 .active a{color:#DA291C;}
#menu-1 .dropdown-menu{padding-top: 0px !important;padding-bottom:0px !important;}
#menu-1 .dropdown-menu a:hover{background-color:#DA291C;}
.bg-dark{background-color:#2C2C2C !important;}
.text-dark{color:#2C2C2C !important;}
.bg-black{background-color:#1D1D1D !important;}
.bg-danger{background-color: #DA291C !important;}
.text-danger{color:#DA291C !important;}
.btn-danger{background-color:#DA291C !important;}
.bg-success{background-color:#69AF1F !important;}
.text-success{color:#69AF1F !important;}
.btn-success{background-color:#69AF1F !important;}
.font-poppins{font-family:poppins, sans-serif;}
.font-44{font-size:44px;}
.line-height-44{line-height:44px;}
.font-37{font-size:37px;}
.line-height-32{line-height:32px;}
.font-18{font-size:18px;}
.font-14{font-size:14px;}
.letter-spacing-1{letter-spacing:1px ;}
.rounded{border-radius:1rem !important;}
.rounded-top{border-top-left-radius: 1rem!important;border-top-right-radius: 1rem!important;}
.rounded-left{border-top-left-radius: 1rem!important;border-bottom-left-radius: 1rem!important;}
.rounded-bottom{border-bottom-right-radius: 1rem!important;border-bottom-left-radius: 1rem!important;}
.rounded-right{border-top-right-radius: 1rem!important;border-bottom-right-radius: 1rem!important;}
body#conferencias .player{position: absolute;bottom: 20px;left: 20px;}
body#conferencias .imagen{min-height: 220px;}
body{background: url(../../../images/general/back_mapa.jpg) no-repeat top center fixed #000000;background-size:100%;}
body::before{content: '';width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,0.4);}
#btn-back{position: absolute;right: -10px;top: -20px;}
.modal .close{position: absolute;top:-20px;right: -10px;opacity: 1;}
input[type=text],input[type=email]{font-size: 10px;height: 38px;}
.form-control:focus{border: 1px solid #333;box-shadow: none;border-radius: 8px;}
#registro.index .bg-white{background: url(../../../images/registro/bg_registro.png) bottom right no-repeat;}
#registro.gracias .bg-white{background: url(../../../images/registro/bg_registro.png) 40px bottom no-repeat;}
#preregistro.index .bg-white{background: url(../../../images/registro/bg_registro.png) bottom right no-repeat;}
#preregistro.gracias .bg-white{background: url(../../../images/registro/bg_registro.png) 40px bottom no-repeat;}
header{background: url(../../../images/general/enredaderas_menu.png) no-repeat center -20px;background-size: 1380px;z-index: 160;position: relative;}
#preregistro.index .img-registro-main{margin-top: -100px;}
#preregistro header,#terminos header{background:none;}
footer{position:relative;z-index: 10;}
.contacto_whatsapp{position: absolute;top:-50%;right: 25px;}
.animation{-webkit-transition:1.0s;-o-transition:1.0s;-moz-transition:1.0s;-ms-transition:1.0s;transition:1.0s;}
#area_mapa{position:relative;margin-top:-222px;width:100%;overflow:auto;}
#mapa{position:relative;width:2398px;height:1150px;margin:0 auto;}
#entorno{background:url('../../../images/mapa/entorno-70.jpg') center -150px;position:absolute;width:100%;height:100%;}
#edif_agu_jal{background:url('../../../images/mapa/edif_agu_jal.png');width:153px;height:114px;top:715px;left:350px;position:absolute;z-index:40;}
#jalisco{background: url('../../../images/mapa/jal.png');width:538px;height:351px;top:739px;left:439px;position:absolute;opacity:0;z-index: 20;}
.jalisco.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:964px;left:764px;position:absolute;}
.jalisco.nombre{top:874px;left:600px;position:absolute;z-index:40;opacity:0;}
#edomex{background: url('../../../images/mapa/edommex.png');width:521px;height:299px;top:634px;left:754px;position:absolute;opacity:0;z-index: 10;}
.edomex.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:780px;left:1085px;position:absolute;z-index:70;}
.edomex.nombre{top:734px;left:910px;position:absolute;z-index:40;opacity:0;}
#nuevoleon{background: url('../../../images/mapa/nuevo_leon.png');width:890px;height:477px;top:157px;left:663px;position:absolute;opacity:0;z-index: 10;}
.nuevoleon.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:430px;left:1190px;position:absolute;z-index:200;}
.nuevoleon.nombre{top:350px;left:960px;position:absolute;z-index:40;opacity:0;}
#aguascalientes{background: url('../../../images/mapa/aguascalientes.png');width:397px;height:198px;top:639px;left:418px;position:absolute;opacity:0;z-index: 30;}
.aguascalientes.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:640px;left:570px;position:absolute;}
.aguascalientes.nombre{top:695px;left:555px;position:absolute;z-index:40;opacity:0;}
#queretaro{background: url('../../../images/mapa/queretaro.png');width:575px;height:371px;top:488px;left:1174px;position:absolute;opacity:0;z-index: 20;}
.queretaro.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:710px;left:1560px;position:absolute;}
.queretaro.nombre{top:645px;left:1315px;position:absolute;z-index:40;opacity:0;}
#quintanaroo{background: url('../../../images/mapa/quintana_roo.png');width:565px;height:348px;top:674px;left:1505px;position:absolute;opacity:0;z-index: 10;}
.quintanaroo.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:870px;left:1690px;position:absolute;}
.quintanaroo.nombre{top:795px;left:1645px;position:absolute;z-index:40;opacity:0;}
#tamaulipas{background: url('../../../images/mapa/tamaulipas.png');width:335px;height:167px;top:305px;left:1425px;position:absolute;opacity:0;z-index: 10;}
.tamaulipas.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:310px;left:1520px;position:absolute;z-index: 200;}
.tamaulipas.nombre{top:345px;left:1455px;position:absolute;z-index:40;opacity:0;}
#corporativo{background: url('../../../images/mapa/corporativo.png');width:515px;height:427px;top:291px;left:585px;position:absolute;opacity:0;z-index: 20;}
.corporativo.pin{background:url('../../../images/mapa/pin.svg');width:79px;height:79px;top:385px;left:655px;position:absolute;z-index:50;}
#globo{background: url('../../../images/mapa/globo.png');width:163px;height:349px;top:372px;left:690px;position:absolute;opacity:0;animation: move_globe 5s infinite;z-index:20;}
#globo a{display:block;width:106px;height:150px;position:absolute;right:0;top:0;}
#edificio_2{background:url('../../../images/mapa/edificios_entorno/edificio_2.png');width:358px;height:356px;opacity:0;top:175px;left:441px;position:absolute;z-index:19;}
#edificio_3{background:url('../../../images/mapa/edificios_entorno/edificio_3.png');width:443px;height:278px;opacity:0;top:442px;left:123px;position:absolute;z-index:18;}
#edificio_4{background:url('../../../images/mapa/edificios_entorno/edificio_4.png');width:311px;height:481px;opacity:0;top:349px;left:24px;position:absolute;z-index:19;}
#edificio_7{background:url('../../../images/mapa/edificios_entorno/edificio_7.png');width:313px;height:163px;opacity:0;top:474px;left:1508px;position:absolute;z-index:20;}
#edificio_8{background:url('../../../images/mapa/edificios_entorno/edificio_8.png');width:221px;height:149px;opacity:0;top:785px;left:1202px;position:absolute;z-index:40;}
#camion{width:80px;height:80px;top:973px;left:1728px;position:absolute;opacity:0;}
#camion1{background: url('../../../images/mapa/vehiculos/camion-1/camion-1.png');width:100%;height:100%;display:block;opacity:1;position:absolute;left:0;top:0;}
#camion2{background: url('../../../images/mapa/vehiculos/camion-1/camion-2.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#camion3{background: url('../../../images/mapa/vehiculos/camion-1/camion-3.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#camion4{background: url('../../../images/mapa/vehiculos/camion-1/camion-4.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#carro_1{width:30px;height:30px;top:248px;left:914px;position:absolute;opacity:0;z-index:15;}
#carro_1_1{background: url('../../../images/mapa/vehiculos/carro-1/carro-1.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#carro_1_2{background: url('../../../images/mapa/vehiculos/carro-1/carro-2.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#carro_1_3{background: url('../../../images/mapa/vehiculos/carro-1/carro-3.png');width:100%;height:100%;display:block;opacity:1;position:absolute;left:0;top:0;}
#carro_1_4{background: url('../../../images/mapa/vehiculos/carro-1/carro-4.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
.animation.active,
#camion.active,
#carro_1.active,
#edificio_2.active,
#edificio_3.active,
#edificio_4.active,
#edificio_7.active,
#edificio_8.active,
.pin.active,
.nombre.active,
#regalo.active{opacity: 1 !important;}
.pin{z-index:50;cursor:pointer;opacity: 0;}
.pin:hover{margin-top:-10px;}
.pin:hover .area_detalle{opacity: 1;display:block;}
.pin .area_detalle{padding-bottom:85px;position:absolute;height:auto;width:250px;bottom:5px;left:-15px;z-index:100;opacity:0;display:none;}
.pin .detalle{padding:20px;background-color:#FFFFFF;border:3px solid #D3D3D3;width:250px;border-radius:20px;}
.pin .detalle::after{content:'';background-color:#FFFFFF;border-right:3px solid #D3D3D3;border-bottom:3px solid #D3D3D3;position:absolute;bottom:71px;left:40px;width:30px;height:30px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.pin .detalle .cerrar{background-color:#FFFFFF;border:3px solid #D3D3D3;padding:2px 0 0 9px;position:absolute;border-radius:50%;width:40px;height:40px;font-size:22px;right:-15px;top:-15px;display:none;}
.pin .detalle .titulo{font-family:poppins, sans-serif;font-size:24px;line-height:26px;font-weight:bold;color:#69AF1F;margin-bottom:10px;}
.pin .detalle .contenido ul{padding:0px;margin:0px;}
.pin .detalle .contenido ul li{list-style:none;}
.pin .detalle .contenido ul li a{color:#000000;font-size:12px;text-decoration:underline;-webkit-transition:.5s;-o-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;transition:.5s;}
.pin .detalle .contenido ul li a:hover{padding-left:10px;}



#regalo{width:350px;height:350px;top:374px;left:965px;position:absolute;opacity:0;z-index: 60;}
#regalo div{width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
@keyframes move_globe {
    0% {top:372px;left:690px;}
    50%{top:375px;left:670px;}
    100%{top:370px;left:695px;}
}

@media (min-width: 1250px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{max-width: 1200px;}
}

@media (max-width:991px){
    #menu-1 > ul:first-child > li:first-child{min-height: 66px;height: auto;}
    #menu-1 .dropdown-menu{width: 100%;text-align: center;border:none;}
    #menu-1 .dropdown-menu ul{border-bottom: 1px solid #FFFFFF !important;padding:15px 0 15px;}
    #menu-1 .dropdown-menu a{padding:15px 0 15px;font-weight: bold;}
    #menu-1 .dropdown-menu > a{border-bottom: 1px solid #666;font-weight: normal;}
    #menu-1 .dropdown-menu > a:last-child{border-bottom: none;}
    #area_mapa{zoom:.8;}
}
@media (max-width:500px){
    #area_mapa{zoom:.6;}
}