.font-10{font-size:10px;}
.font-12{font-size:12px;}
.font-23{font-size: 23px;}
.font-30{font-size: 30px;}
.font-17{font-size: 17px;}
/*.font-17{font-size: 16px;}*/
.c-black{color:#000000 !important;}
.c-white{color:#FFFFFF !important;}
.font-sweet-sans-pro {font-family: sweet-sans-pro, sans-serif;}
.poppins{font-family: poppins, sans-serif;}
.bold{font-weight:800;}
.DA291C{color:#DA291C;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.btn-light{border:1px solid #DA291C;}
.btn-light:hover{border:1px solid #DA291C;}
.f-left{float:left;}

body.contador{background-image: url(/mundo-javer-2021/images/contador/fondo_contador.jpg);background-size: cover;}
body.contador .btn-registro{border-radius: 12px; border-color:#EB4141;}

footer{background-color: rgba(0, 0, 0, 0.7);}
footer .contenido-borde{border-bottom: 6px solid; border-color:#DA291C;}
footer .container .info-footer{display: flex;align-items: center;}
footer .container .logo-footer{justify-content: right;}

.desarrollo .location-name{line-height:14px;}
.desarrollo .img-ingresos{text-align:right;}
.desarrollo .interes-desarrollo p{text-align:center;}

.carousel-control-next span,.carousel-control-prev span{font-size:35px; color:#000000;}
.logo-location-maps{margin-top:-16px;}
.logo-wp-btn{margin-top:-20px;}
a.prev-frac,a.prev-frac:hover{border:1px solid white;}
a.prev-frac::before{      content: "";
    background: white;
    position: absolute;
    bottom: 1px;
    left: 37px;
    height: 96%;
    width: 1.3px;
}
a.next-frac,a.next-frac:hover{border:1px solid white;}
a.next-frac::before{      content: "";
    background: white;
    position: absolute;
    bottom: 1px;
    right: 37px;
    height: 96%;
    width: 1.3px;
}
.ciudades .ciudades-detalle{background-image: url(/mundo-javer-2021/images/ciudades/top_banner.png);border-bottom-left-radius: 0rem !important;background-repeat: no-repeat;}
.ciudades .text-ciudad{letter-spacing:-2.35px;line-height: 50px;}
.ciudades .text-estado{text-decoration:underline;font-weight: 600;}

@media (min-width:320px) and (max-width:480px){
footer .container .logo-footer{justify-content: left !important;}

.contador .flip-clock__piece{display:flex;align-items: center;margin-bottom:20px !important;}
/*.contador .flip-clock{padding-left:23vw;}*/
.contador .flip-clock{width:200px; display:block; margin-left:auto;margin-right:auto;}
.contador .flip-clock .flip-clock__slot{padding-left:20px;color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador #logo-clean{margin-bottom:0px !important;padding-top: 0px !important;}
.contador #logo-clean img{width:35%;}
.contador .contenido-logo-contador{padding-bottom:0px !important;}
.contador .contenido-contador{padding-bottom:30px !important;}
.flip-card {
    font-size: 2.25rem !important;
}


}
@media (min-width:481px) and (max-width: 767px){
footer .container .logo-footer{justify-content: left !important;}
.contador .flip-clock__piece{display:flex;align-items: center;margin-bottom:20px !important;}
/*.contador .flip-clock{padding-left:23vw;}*/
.contador .flip-clock{width:200px; display:block; margin-left:auto;margin-right:auto;}
.contador .flip-clock .flip-clock__slot{padding-left:20px;color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador #logo-clean{margin-bottom:0px !important;padding-top: 0px !important;}
.contador #logo-clean img{width:30%;}
.contador .contenido-logo-contador{padding-bottom:0px !important;}
.contador .contenido-contador{padding-bottom:30px !important;}
}
@media (min-width:767px) and (max-width: 991px){
.contador .flip-card {font-size: 3.5rem !important;}
.contador .flip-clock__piece {margin: 0 12px;}
.contador .flip-clock .flip-clock__slot{color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador .registrom{margin-top:10px !important;margin-bottom:50px !important;}
}
@media (min-width:992px) and (max-width: 1200px){
.contador .flip-card {font-size: 3.5rem !important;}
.contador .flip-clock__piece {margin: 0 12px;}
.contador .flip-clock .flip-clock__slot{color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador .registrom{margin-top:10px !important;margin-bottom:100px !important;}
}
@media (min-width: 1201px){
.contador .registrom{margin-top:10px !important;margin-bottom:100px !important;}
}