img{max-width:100%;}
*{word-wrap:break-word;}
.text_abstract{overflow:hidden;width:130px;height:20px;word-wrap:break-word;text-size-adjust:100%;white-space:nowrap;text-overflow:ellipsis;}
header:not(.pre-header){display: inline-block;width: 100%;height: 222px;}
header .container{margin-top: 66px;position:relative;padding-left:100px;}
header .container nav{border-radius: 15px;}
#logo-principal{position: absolute;left:-15px;top: -70px;z-index: 10;}
#logo-principal img{width: 192px;}
#menu-1 ul li
/*,#menu-1 ul li a*/{height: 66px;display: flex;flex-direction: column;justify-content: space-around;align-items: flex-start;font-weight: 700;}
#menu-1 ul:first-child li:first-child{background-color: #DA291C;padding-left: 50px;border-right: 1px solid #000000;}
#menu-1 ul:first-child li:nth-child(2){border-left: 1px solid #5C5C5C;}
#menu-1 ul:first-child li a{position:relative;padding: 0 .9rem;}
#menu-1 ul:first-child li a::after{content: '';border-right: 1px solid #5C5C5C;position: absolute;right: 0px;width: 1px;height: 16px;top: 0px;}
#menu-1 ul:first-child li a::before{content: '';border-right: 1px solid #000000;position: absolute;right: 1px;width: 1px;height: 16px;top: 0px;}
#menu-1 ul:first-child li:last-child a::before,
#menu-1 ul:first-child li:last-child a::after,
#menu-1 ul:first-child li:first-child a::before,
#menu-1 ul:first-child li:first-child a::after{display:none;}
.navbar-dark .navbar-nav .nav-link {color:rgba(255, 255, 255, 1);}
#menu-1 i{font-size: 20px;}
#menu-1 i.fa-spotify{color:#1DB954;position:absolute;top:5px;right:-20px;}
#menu-1 .active a{color: #DA291C;}
.bg-dark{background-color:#2C2C2C !important;}
.text-dark{color:#2C2C2C !important;}
.bg-black{background-color:#1D1D1D !important;}
.bg-danger{background-color: #DA291C !important;}
.text-danger{color: #DA291C !important;}
.btn-danger{background-color: #DA291C !important;}
.bg-success{background-color: #69AF1F !important;}
.text-success{color: #69AF1F !important;}
.btn-success{background-color: #69AF1F !important;}
.font-poppins{font-family:poppins, sans-serif;}
.font-44{font-size: 44px;}
.line-height-44{line-height: 44px;}
.font-37{font-size: 37px;}
.line-height-32{line-height: 32px;}
.font-18{font-size: 18px;}
.font-14{font-size: 14px;}
.letter-spacing-1{letter-spacing:1px ;}
.rounded{border-radius:1rem !important;}
.rounded-top{border-top-left-radius: 1rem!important;border-top-right-radius: 1rem!important;}
.rounded-left{border-top-left-radius: 1rem!important;border-bottom-left-radius: 1rem!important;}
.rounded-bottom{border-bottom-right-radius: 1rem!important;border-bottom-left-radius: 1rem!important;}
.rounded-right{border-top-right-radius: 1rem!important;border-bottom-right-radius: 1rem!important;}
body#conferencias .player{position: absolute;bottom: 20px;right: 20px;}
body#conferencias .imagen{min-height: 220px;}
body{background: url(../../../images/general/back_mapa.jpg) no-repeat top center fixed #000000;background-size:100%;}
/*body#index{background-image:none ;}*/
body::before{content: '';width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,0.4);}
#btn-back{position: absolute;right: -10px;top: -20px;}
.modal .close{position: absolute;top:-20px;right: -10px;opacity: 1;}
input[type=text],input[type=email]{/*background: url(../../../images/registro/bg_input.png) no-repeat;border: none;background-size: contain;width: 240px;*/font-size: 10px;height: 38px;}
.form-control:focus{border: 1px solid #333;box-shadow: none;border-radius: 8px;}
#registro.index .bg-white{background: url(../../../images/registro/bg_registro.png) bottom right no-repeat;}
#registro.gracias .bg-white{background: url(../../../images/registro/bg_registro.png) 40px bottom no-repeat;}
#preregistro.index .bg-white{background: url(../../../images/registro/bg_registro.png) bottom right no-repeat;}
#preregistro.gracias .bg-white{background: url(../../../images/registro/bg_registro.png) 40px bottom no-repeat;}
header{background: url(../../../images/general/enredaderas_menu.png) no-repeat center -20px;background-size: 1380px;z-index: 100;position: relative;}
#preregistro.index .img-registro-main{margin-top: -100px;}
#preregistro header{background:none;}
footer{position:relative;z-index: 10;}
.contacto_whatsapp{position: absolute;top:-50%;right: 25px;}
.animation{
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    -moz-transition: 1.0s;
    -ms-transition: 1.0s;
    transition: 1.0s;
}
#area_mapa{
    position: relative;
    margin-top: -222px;
    width: 100%;
    overflow: auto;
}
#mapa{
    /*background: url('../../../images/mapa/mapa.png') center -150px;*/
    position: relative;
    width: 2398px;
    /*height: 1545px;*/
    height: 1150px;
    margin: 0 auto;
}
#entorno{
    background: url('../../../images/mapa/entorno.png') center -150px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#edif_agu_jal{
    background: url('../../../images/mapa/edif_agu_jal.png');
    width:153px;
    height:114px;
    top:715px;
    left:350px;
    position:absolute;
    z-index: 20;
}

#jalisco{background: url('../../../images/mapa/jal.png');width:538px;height:351px;top:739px;left:439px;position:absolute;opacity:0;z-index: 10;}
#edomex{background: url('../../../images/mapa/edommex.png');width:521px;height:299px;top:634px;left:754px;position:absolute;opacity:0;z-index: 10;}
#aguascalientes{background: url('../../../images/mapa/aguascalientes.png');width:397px;height:198px;top:639px;left:418px;position:absolute;opacity:0;z-index: 10;}
#quintanaroo{background: url('../../../images/mapa/quintana_roo.png');width:565px;height:348px;top:674px;left:1505px;position:absolute;opacity:0;z-index: 10;}
#queretaro{background: url('../../../images/mapa/queretaro.png');width:575px;height:371px;top:488px;left:1174px;position:absolute;opacity:0;z-index: 20;}
#tamaulipas{background: url('../../../images/mapa/tamaulipas.png');width:335px;height:167px;top:305px;left:1425px;position:absolute;opacity:0;z-index: 10;}
#regalo{background: url('../../../images/mapa/regalo.png');width:229px;height:224px;top:467px;left:1008px;position:absolute;opacity:0;z-index: 20;}
#nuevoleon{background: url('../../../images/mapa/nuevo_leon.png');width:890px;height:477px;top:157px;left:663px;position:absolute;opacity:0;z-index: 10;}
#corporativo{background: url('../../../images/mapa/corporativo.png');width:515px;height:427px;top:291px;left:585px;position:absolute;opacity:0;z-index: 20;}
#globo{background: url('../../../images/mapa/globo.png');width:163px;height:349px;top:372px;left:690px;position:absolute;opacity:0;animation: move_globe 5s infinite;z-index:20;}
#globo a{
    display: block;
    width: 106px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
}
#camion{width:80px;height:80px;top:973px;left:1728px;position:absolute;opacity:0;}
#camion1{background: url('../../../images/mapa/vehiculos/camion-1/camion-1.png');width:100%;height:100%;display:block;opacity:1;position:absolute;left:0;top:0;}
#camion2{background: url('../../../images/mapa/vehiculos/camion-1/camion-2.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#camion3{background: url('../../../images/mapa/vehiculos/camion-1/camion-3.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}
#camion4{background: url('../../../images/mapa/vehiculos/camion-1/camion-4.png');width:100%;height:100%;display:block;opacity:0;position:absolute;left:0;top:0;}


.animation.active,
#camion.active{
    opacity: 1 !important;
}

@keyframes move_globe {
    0% {
        top:372px;left:690px;
    }
    50%{
        top:375px;left:670px;
    }
    100% {
        top:370px;left:695px;
    }
}

@media (min-width: 1250px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{max-width: 1200px;}
}