.font-10{font-size:10px;}
.font-12{font-size:12px;}
.font-23{font-size: 23px;}
.font-21{font-size: 21px;}
.font-30{font-size: 30px;}
.font-50{font-size: 50px;}
.font-17{font-size: 17px;}
.font-18{font-size: 18px;}
.font-43{font-size:43px;}
/*.font-17{font-size: 16px;}*/
.c-black{color:#000000 !important;}
.c-white{color:#FFFFFF !important;}
.font-sweet-sans-pro {font-family: sweet-sans-pro, sans-serif;}
.poppins{font-family: poppins, sans-serif;}
.bold{font-weight:800;}
.DA291C{color:#DA291C;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.btn-light{border:1px solid #DA291C;}
.btn-light:hover{border:1px solid #DA291C;}
.f-left{float:left;}
/*.wrapper > .container:not(.top-planta){margin-bottom:70px !important;}*/
.contenido-logo-contador{margin-top:-70px !important;}
.top-planta{position:relative;}

body.contador{background-image: url(/mundo-javer-2021/images/contador/fondo_contador.jpg);background-size: cover;}
body.contador .btn-registro{border-radius: 12px; border-color:#EB4141;}

footer{background-color: rgba(0, 0, 0, 0.7);}
footer .contenido-borde{border-bottom: 6px solid; border-color:#84CF35;}
footer .container .info-footer{display: flex;align-items: center;}
footer .container .logo-footer{justify-content: right;}

.desarrollo .location-name{line-height:14px;}
/*.desarrollo .img-ingresos{text-align:right;}*/
.desarrollo .interes-desarrollo p{text-align:center;}

.carousel-control-next span,.carousel-control-prev span{font-size:35px; color:#000000;}
.logo-location-maps{margin-top:-16px;}
.logo-wp-btn{margin-top:-20px;}
a.prev-frac,a.prev-frac:hover{border:1px solid white;}
a.prev-frac::before{      content: "";
    background: white;
    position: absolute;
    bottom: 1px;
    left: 37px;
    height: 96%;
    width: 1.3px;
}
a.next-frac,a.next-frac:hover{border:1px solid white;}
a.next-frac::before{      content: "";
    background: white;
    position: absolute;
    bottom: 1px;
    right: 37px;
    height: 96%;
    width: 1.3px;
}
.ciudades .ciudades-detalle{background-image: url(/mundo-javer-2021/images/ciudades/top_banner.png);border-bottom-left-radius: 0rem !important;background-repeat: no-repeat;}
.ciudades .text-ciudad{letter-spacing:-2.35px;line-height: 50px;}
.ciudades .text-estado{text-decoration:underline;font-weight: 600;}

.title-preheat{line-height:45px;}
.btn-preheat{margin-bottom:90px;}

.padding-registro select{height:38px !important;}

.regalo-footer img{position: absolute;right: 0px;top: -60px;}

@media (min-width:320px) and (max-width:480px){
body{background-size:cover !important;}
footer .container .logo-footer{justify-content: left !important;}

.contador .flip-clock__piece{display:flex;align-items: center;margin-bottom:20px !important;}
/*.contador .flip-clock{padding-left:23vw;}*/
.contador .flip-clock{width:200px; display:block; margin-left:auto;margin-right:auto;}
.contador .flip-clock .flip-clock__slot{padding-left:20px;color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador #logo-clean{margin-bottom:0px !important;padding-top: 0px !important;}
.contador #logo-clean img{width:35%;}
.contador .contenido-logo-contador{padding-bottom:0px !important;}
.contador .contenido-contador{padding-bottom:30px !important;}
.flip-card {font-size: 2.25rem !important;}

.title-preheat{line-height:31px;}
.btn-preheat{margin-bottom:90px;}
.font-50{font-size: 25px;}
.font-18{font-size: 16px;}
.font-14{font-size: 2.5vw;}
.font-23{font-size: 16px;}/* nuevo*/
.font-30{font-size: 22px;}
.font-44{font-size: 24px;}
.font-10{font-size: 7px;}
.img-preheat img{width:40%;margin-right:0px !important;}

.ciudades .contenedor-ciudades{padding-right:0px !important;padding-left:0px !important;}
.ciudades .ciudades-detalle {background-position: 88% 50%;background-size: cover;}
.ciudades .title-ciudad{padding-right:30px !important;padding-left:30px !important;padding-top:15px !important;padding-bottom:15px !important;}
.ciudades .location-logo{padding-left:0px !important;}
.ciudades .location-logo img{width:80%;}
.ciudades .location-info{padding-left: .5rem !important;}
.ciudades .ingresos-info{padding-right:0px !important;}
.ciudades .wp-location{padding-right:0px !important;}
/*nuevo*/
.desarrollo .div-logo-des{justify-content: center;padding-bottom:30px !important;}
.desarrollo .desc-desarrollo{text-align: center;}
.desarrollo .info-ingresos,.desarrollo .info-ubicacion{justify-content: center;padding-top: 15px !important;padding-bottom: 15px !important;}
.desarrollo .img-ubicacion{padding-left: 0px;justify-content: center;display: flex;}
.desarrollo .img-ingresos{padding-left: 0px;justify-content: center;display: flex;}
.desarrollo .oficina-title,.desarrollo .btn-location,.desarrollo .title-asesores,.desarrollo .btn-contacta{text-align:center;margin-bottom: 25px !important;}
.desarrollo .interes-desarrollo{margin-bottom:20px !important;}
.desarrollo .info-ingresos, .desarrollo .info-ubicacion{margin-left:0px !important;width:100%;}
.padding-line{padding-left:15px !important;padding-right:15px !important;padding-top: 20px !important;padding-bottom:0px !important;}
.padding-extra{padding-left:0px !important;padding-right:0px !important;}

a.prev-frac::before{content: "";
    background: white;
    position: absolute;
    bottom: 0px;
	left: 26px;
	height: 95%;
	width: 1.3px;
}
a.next-frac::before{content: "";
    background: white;
    position: absolute;
bottom: 0px;
right: 26px;
height: 95%;
width: 1.3px;}
.icon-previ,.icon-netx{padding-left:5px !important;padding-right:5px !important;}
.prev-frac{padding-left:0px !important;padding-right: 5px !important;}
.next-frac{padding-left:5px !important;padding-right: 0px !important;}

.contenido-conferencias{padding:0px !important;}
.info-conferencias{padding-left:20px !important;padding-right:20px !important;}
.img-conf{background-position:center !important;}
body#conferencias .player img{width:80%;}
body#conferencias .player {
    position: absolute;
    bottom: 30px;
    right: 0px;
}
.desc-conferencia{padding-left:0px !important;padding-right:0px !important;}
.title-conf{margin-bottom:0px !important;margin-top:0px !important;}

.container-title-registro{padding-left:5px !important;padding-right:5px !important;padding-top: 30px !important;padding-bottom: 30px !important;}
.container-title-registro div{position:relative !important;padding-left: 1.5rem !important;}
#preregistro.index .img-registro-main{margin-top:-50px !important;}
#preregistro.index .container-gracias-center{padding-left:15px !important;padding-right:15px !important;}
#preregistro.index .container-gracias-center .rounded-left{border-top-right-radius: 1rem !important;}
.img-registro-main{position:relative !important;}
.img-registro-main img{width:100% !important;}
.padding-registro{padding-left:5px !important; padding-right:5px !important;padding-top: 0px !important;}
.container-title-registro h1,.container-title-registro h2{text-align:center;line-height: 20px;}
.g-recaptcha{transform: scale(0.80);-webkit-transform:scale(0.80);transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.containter-captcha{position:relative !important;top:0px !important;}
.button-registro .text-secondary{display:block;margin-top:5px;}
.container-title-registro .px-3.pt-4{padding-top:0px !important;}
.registro-form{border-top-right-radius: 0rem !important;border-bottom-left-radius: 1rem !important;}
.font-12 {font-size: 9px;}
.font-37 {font-size: 24px;}

.contenido-gracias{padding-left:0px !important;padding-right:0px !important;text-align:center;}
.contenido-gracias .font-44{font-size:35px !important;text-align:center;}
.contenido-gracias .font-18.mb-5{margin-bottom:2rem !important;}
.btn-continuar.font-10{font-size:10px !important;}
.mobile-logo-gracias{margin-left: auto;margin-right: auto;}

#preregistro header{height:55px !important;}

/*.wrapper > .container:not(.top-planta){margin-bottom:70px !important;}*/
.contenido-logo-contador{margin-top:0px !important;}
.regalo-preheat img{width:80%;}
.regalo-preheat{margin-bottom:10px !important;}
.txt-momento{margin-bottom: 15px !important;}
.font-43{font-size: 25px;}
.font-21{font-size: 15px;}
.registroms{margin-top: 30px !important;}

/*.ciudades .wp-ingresos{padding-left:0px !important;padding-right:0px !important;}*/
}
@media (min-width:481px) and (max-width: 767px){
body{background-size:cover !important;}
footer .container .logo-footer{justify-content: left !important;}
.contador .flip-clock__piece{display:flex;align-items: center;margin-bottom:20px !important;}
/*.contador .flip-clock{padding-left:23vw;}*/
.contador .flip-clock{width:200px; display:block; margin-left:auto;margin-right:auto;}
.contador .flip-clock .flip-clock__slot{padding-left:20px;color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador #logo-clean{margin-bottom:0px !important;padding-top: 0px !important;}
.contador #logo-clean img{width:30%;}
.contador .contenido-logo-contador{padding-bottom:0px !important;}
.contador .contenido-contador{padding-bottom:30px !important;}

.img-preheat img{width:30%;margin-right:0px !important;}
.title-preheat{line-height:31px;}
.btn-preheat{margin-bottom:90px;}
.font-50{font-size: 25px;}
.font-18{font-size: 16px;}
.font-23{font-size: 16px;}/* nuevo*/

.ciudades .contenedor-ciudades{padding-right:0px !important;padding-left:0px !important;}
.ciudades .ciudades-detalle {background-position: 88% 50%;background-size: cover;}
.ciudades .title-ciudad{padding-right:30px !important;padding-left:30px !important;padding-top:15px !important;padding-bottom:15px !important;}
.ciudades .location-logo{padding-left:0px !important;}
.ciudades .location-logo img{width:80%;}
.ciudades .location-info{padding-left: .5rem !important;}
.ciudades .ingresos-info{padding-right:0px !important;}
.ciudades .wp-location{padding-right:0px !important;}

/*nuevo*/
.desarrollo .div-logo-des{justify-content: center;padding-bottom:30px !important;}
.desarrollo .desc-desarrollo{text-align: center;}
.desarrollo .info-ingresos,.desarrollo .info-ubicacion{justify-content: center;padding-top: 15px !important;padding-bottom: 15px !important;}
.desarrollo .img-ubicacion{padding-left: 0px;justify-content: center;display: flex;}
.desarrollo .img-ingresos{padding-left: 0px;justify-content: center;display: flex;}
.desarrollo .oficina-title,.desarrollo .btn-location,.desarrollo .title-asesores,.desarrollo .btn-contacta{text-align:center;margin-bottom: 25px !important;}
.desarrollo .interes-desarrollo{margin-bottom:20px !important;}
.desarrollo .info-ingresos, .desarrollo .info-ubicacion{margin-left:0px !important;width:100%;}
.padding-line{padding-left:15px !important;padding-right:15px !important;padding-top: 20px !important;padding-bottom:0px !important;}
.padding-extra{padding-left:0px !important;padding-right:0px !important;}

.contenido-conferencias{padding:0px !important;}
.info-conferencias{padding-left:20px !important;padding-right:20px !important;}
.img-conf{background-position:center !important;}
body#conferencias .player img{width:80%;}
body#conferencias .player {position: absolute;bottom: 30px;right: 0px;}
.desc-conferencia{padding-left:0px !important;padding-right:0px !important;}
.title-conf{margin-bottom:0px !important;margin-top:0px !important;}



.container-title-registro{padding-left:5px !important;padding-right:5px !important;padding-top: 30px !important;padding-bottom: 30px !important;}
.container-title-registro div{position:relative !important;padding-left: 1.5rem !important;}
.img-registro-main{position:relative !important;}
#preregistro.index .img-registro-main{margin-top:-40px !important;}
#preregistro.index .container-gracias-center{padding-left:15px !important;padding-right:15px !important;}
#preregistro.index .container-gracias-center .rounded-left{border-top-right-radius: 1rem !important;}
.padding-registro{padding-left:5px !important; padding-right:5px !important;padding-top:0px !important;}
.container-title-registro h1,.container-title-registro h2{text-align:center;line-height: 25px;}
.font-30{font-size: 24px;}
.g-recaptcha{transform: scale(0.80);-webkit-transform:scale(0.80);transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.containter-captcha{position:relative !important;top:0px !important;}
.button-registro .text-secondary{display:block;margin-top:5px;}
.img-registro-main img{width:100% !important;}
.container-title-registro .px-3.pt-4{padding-top:0px !important;}
.registro-form{border-top-right-radius: 0rem !important;border-bottom-left-radius: 1rem !important;}
.font-12 {font-size: 9px;}
.font-37 {font-size: 27px;}

.contenido-gracias{padding-left:0px !important;padding-right:0px !important;text-align:center;}
.contenido-gracias .font-44{font-size:35px !important;text-align:center;}
.contenido-gracias .font-18.mb-5{margin-bottom:2rem !important;}
.btn-continuar.font-10{font-size:10px !important;}
.mobile-logo-gracias{margin-left: auto;margin-right: auto;}

#preregistro header{height:115px !important;}

.wrapper > .container:not(.top-planta){margin-bottom:70px !important;}
.contenido-logo-contador{margin-top:-20px !important;}
.regalo-preheat img{width:50%;}
.regalo-preheat{margin-bottom:10px !important;}
.txt-momento{margin-bottom: 15px !important;}
.font-43{font-size: 32px;}
.font-21{font-size: 17px;}
.registroms{margin-top: 30px !important;}

}
@media (min-width:768px) and (max-width: 991px){
body{background-size:cover !important;}
.contador .flip-card {font-size: 3.5rem !important;}
.contador .flip-clock__piece {margin: 0 12px;}
.contador .flip-clock .flip-clock__slot{color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador .registrom{margin-top:10px !important;margin-bottom:50px !important;}
.img-preheat img{width:20%;margin-right:0px !important;}
.title-preheat{line-height:40px;}
.btn-preheat{margin-bottom:90px;}
.font-50{font-size: 45px;}
.font-18{font-size: 16px;}
.font-30 {font-size: 22px;}
.font-23 {font-size: 18px;}
.ciudades .contenedor-ciudades{padding-right:0px !important;padding-left:0px !important;}
.ciudades .ciudades-detalle {background-position: 88% 50%;background-size: cover;}
.ciudades .title-ciudad{padding-right:30px !important;padding-left:30px !important;padding-top:15px !important;padding-bottom:15px !important;}
.ciudades .title-ciudad p{text-align:left;}
.ciudades .location-logo{padding-left:0px !important;}
.ciudades .location-logo img{width:80%;}
.ciudades .location-info{padding-left: .5rem !important;}
.ciudades .ingresos-info{padding-right:0px !important;}
.ciudades .wp-location{padding-right:0px !important;}

/* nuevo */
.desarrollo .info-ingresos .f-left, .desarrollo .info-ubicacion .f-left{float: none;}
.padding-line{padding-left:15px !important;padding-right:15px !important;padding-top: 20px !important;padding-bottom:0px !important;}
.padding-extra{padding-left:0px !important;padding-right:0px !important;}
.desarrollo .img-ingresos,.desarrollo .info-ubicacion{text-align:center;}

.font-44{font-size: 36px;}
.cont-img-conf{align-items: center;}

/*Registro*/
.padding-registro{padding-left:1rem !important; padding-right:1rem !important;padding-top:0px !important;}
.px-5.pt-3.padding-registro{padding-left:0px !important; padding-right:0px !important;}
.g-recaptcha{transform: scale(0.55) !important;-webkit-transform:scale(0.55) !important;transform-origin: 0 0 !important;-webkit-transform-origin: 0 0 !important;}
.container-title-registro{padding-left: 0px !important;padding-right: 0px !important;padding-bottom: 0px !important;}
#preregistro.index .img-registro-main {
    margin-top: 0px;
}
#preregistro.index .container-title-registro .pl-5{padding-left:1.5rem !important;}

/*gracias*/
.contenido-gracias{padding-left:0px !important;padding-right:0px !important;padding-bottom: 0px !important;}
.contenido-gracias h1,.contenido-gracias p{margin-bottom:25px !important;}
.contenido-gracias .font-18{font-size:12px !important;}
#registro.gracias .bg-white{background-size:30% !important;padding-bottom: 0px !important;}

/*#preregistro header{height:55px !important;}*/
/*.wrapper > .container:not(.top-planta){margin-bottom:70px !important;}*/
.contenido-logo-contador{margin-top:-20px !important;}

}
@media (min-width:992px) and (max-width: 1200px){
body{background-size:cover !important;}

.contador .flip-card {font-size: 3.5rem !important;}
.contador .flip-clock__piece {margin: 0 12px;}
.contador .flip-clock .flip-clock__slot{color: #FFF;font-family: sweet-sans-pro, sans-serif;font-weight: bold;}
.contador .registrom{margin-top:10px !important;margin-bottom:100px !important;}

.ciudades .title-ciudad{padding-right:30px !important;padding-left:30px !important;padding-top:15px !important;padding-bottom:15px !important;}
.ciudades .location-logo{padding-left:0px !important;}
.ciudades .location-logo img{width:80%;}
.ciudades .location-info{padding-left: .5rem !important;}
.ciudades .ingresos-info{padding-right:0px !important;}
.ciudades .wp-location{padding-right:0px !important;}
.padding-registro{padding-left:2rem !important; padding-right:2rem !important;padding-top:0px !important;}
#preregistro.index .img-registro-main {
    margin-top: -10px;
}
.px-5.pt-3.padding-registro{padding-left:0px !important; padding-right:0px !important;}
.g-recaptcha{transform: scale(0.80);-webkit-transform:scale(0.80);transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.container-title-registro{padding-left: 20px !important;padding-right: 20px !important;padding-bottom: 0px !important;}


/*gracias*/
.contenido-gracias{padding-left:0px !important;padding-right:0px !important;padding-bottom: 0px !important;}
.contenido-gracias img{bottom: 5px !important;right: 30px !important;;}
.contenido-gracias h1,.contenido-gracias p{margin-bottom:25px !important;line-height: 40px;}
.contenido-gracias .font-18{font-size:15px !important;}
#registro.gracias .bg-white{background-size:30% !important;}

#preregistro header{height:115px !important;}
.wrapper > .container:not(.top-planta){margin-bottom:70px !important;}
.contenido-logo-contador{margin-top:-20px !important;}
}
@media (min-width: 1201px){
.contador .registrom{margin-top:10px !important;margin-bottom:100px !important;}

body{background-size:cover !important;}

/*#preregistro header{height:auto !important;}*/
}